.audio_tour::-webkit-media-controls-enclosure
{
    background: none;
    border-radius: none;
    border: none;
    left: 0;
}

.audio_tour
{
    position: absolute;
    left: 0;
    margin-left: 16px;
    margin-top: 2px;
    width: 270px;
}

.audio_tour::-webkit-media-controls-current-time-display,
::-webkit-media-controls-volume-control-container,
::-webkit-media-controls-time-remaining-display
{
    display: none;
}



.audio_tour::-webkit-media-controls-play-button
{
    background: url(../assets/img/items/play.png) no-repeat;
    background-size: 17px;
    margin-left: 10px;
    margin-top: 8px;
}

.op__sh_t
{
    display: flex;
    margin-bottom: 15px;
    h4 
    {
        font-size: 14px;
        font-weight: 400;
    }
}


.audio_tour::-webkit-media-controls-timeline
{
    margin-top: 20px;
    margin-left: -6px;
}
