.audio_tour::-webkit-media-controls-enclosure
{
    background: none;
    border-radius: none;
    border: none;
    left: 0;
}

.audio_tour
{
    position: absolute;
    left: 0;
    margin-left: 16px;
    margin-top: 2px;
    width: 95%;
}

.op__sh_t
{
    display: flex;
    margin-bottom: 15px;
    h4 
    {
        font-size: 14px;
        font-weight: 400;
    }
}


.inpun__progres_bar
{
    width: 280px;
    height: 4px;
    accent-color: var(--colorBlue200);
    -webkit-appearance: none;
    background: #616161;
    background-size: 0% 100%;
    background-image: linear-gradient(var(--colorBlue200), var(--colorBlue200));
    background-repeat: no-repeat;
    transition: 0s;

    border-radius: 4px;
    &::-webkit-slider-thumb
    {
        opacity: 0;
    }
}