.opBox
{
    position: relative;
    z-index: 1;
    width: 250px;
    height: 300px;
    background: none;    
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1000px) 
{
    .opBox
    {
        display: none;
    }
}


.container__menu_naw
{
    display: flex;
    justify-content: right;
    ul
    {
        list-style: none;
        li
        {
            &:not(:first-child)
            {
                margin-top: 13px;
            }
            a
            {
                text-decoration: none;
                display: flex;
                width: 100%;
                height: 20px;
                justify-content: left;
                text-align: center;
                align-items: center;
                color: var(--colDarck);
                span 
                {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
            &:hover > a
            {
                color: var(--colorBlue200);
            }
        }
    }
}

@media screen and (max-width: 1350px) 
{
    .container__menu_naw
    {
        display: flex;
        justify-content: center;
    }
}



.navigation
{
    display: none;
    position: fixed;
    bottom: 0;
    max-width: 1000px;
    min-width: 200px;
    width: 100%;
    height: 52px;
    background: var(--colorBlue200);
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    box-shadow: 0px -10px 0 0 var(--colWhite_400);
    border-radius: 8px 8px 0px 0px ;
    z-index: 10;
}

.navigation ul
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    max-width: 70px;
    min-width: 60px;
    width: 100%;
    max-height: 70px;
    min-height: 60px;
    height: 100%;
    z-index: 1;
}

.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: var(--colWhite_400);
}

.navigation ul li.active a .icon
{
    transform: translateY(-26px);
}

.navigation ul li a .text
{
    position: absolute;
    color: var(--colWhite_400);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;
    transform: rotateY(20px);
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}

.indicator
{
    position: absolute;
    top: -50%;
    width: 40px;
    height: 40px;
    background: var(--colorBlue200);
    border-radius: 50%;
    border: 6px solid var(--colWhite_400);
}

.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 19px;
    box-shadow: 1px -10px 0 0 var(--colWhite_400);
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 19px;
    box-shadow: -1px -10px 0 0 var(--colWhite_400);
}

.navigation ul li:nth-child(1).active  ~ .indicator
{
    transform: translateX(calc(-70px));
}
.navigation ul li:nth-child(2).active  ~ .indicator
{
    transform: translateX(calc(0px));
}
.navigation ul li:nth-child(3).active  ~ .indicator
{
    transform: translateX(calc(70px));
}


.icon svg > path
{
    fill: var(--colWhite_400);
    stroke: var(--colWhite_400);
}

@media screen and (max-width: 1000px) 
{
    .navigation
    {
        display: flex;
    }
}