.home_page
{
    display: block;
    width: 100%;
    max-height: 13500px;
    min-height: 200px;
    height: 100%;
    background: var(--colWhite_400);
    
    .cntainer_content
    {    
        padding-top: 50px;
        .container__new_tours
        {
            margin: 0 auto;
            height: 240px;
    
            border-radius: 0px 0px 8px 8px;
            background: var(--colWhite_400);
            box-shadow: 0px 0px 15px 0px var(--BH);

            display: grid;
            align-items: center;
            content-visibility: auto;

            //padding-bottom: 50px;
            h2
            {
                font-weight: 500;
                font-size: 20px;
                margin-left: 20px;
                margin-top: 10px;
                color: var(--colorBlue200);
            }
            .container__scroll
            {
                display: flex;
                overflow-x: scroll;
                overflow-y: hidden;
                &::-webkit-scrollbar 
                {
                    height: 10px;
                }
                &::-webkit-scrollbar-track 
                {
                    background: none;
                }
                &::-webkit-scrollbar-thumb 
                {
                    background-color: var(--colorBlue200);
                    border-radius: 8px;
                }
            }
        }
        .containet__box_tours
        {
            margin: 0 auto;
            margin-top: 20px;
            min-height: unset;
            height: unset;
            max-height: unset;
            padding-bottom: 20px;

            border-radius: 8px;
            background: var(--colWhite_400);
            box-shadow: 0px 0px 15px 0px var(--BH);
            h2
            {
                font-weight: 500;
                font-size: 20px;
                margin-left: 20px;
                padding-top: 20px;
                color: var(--colorBlue200);
            }
        }
    }
}


// настройки контейнера для позиционирования меню

.opMbox
{
    display:flex;
    justify-content: space-evenly;
}

.opBox
{
    position: relative;
    z-index: 1;
    width: 250px;
    height: 300px;
    background: none;    
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1000px) 
{
    .opBox
    {
        display: none;
    }
}


@media screen and (max-width: 1500px) 
{
    .opBoxTwoo
    {
        display: none;
    }
}


.menu_controls
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 20px 20px 10px;
    .btn__menu_controls{
        width: 120px;
        height: 30px;

        border-radius: 25px;
        background: none;
        border: 1px solid var(--colBlueBtn);
        color: var(--colDarck);
        font-size: 12px;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 10px 10px 0px 10px;
        &:hover
        {
            background: var(--colorBlue200);
            color: #F4F4FF;
            cursor: pointer;
        }
    }
    .controls__btn_active
    {
        background: var(--colorBlue200);
        color: #F4F4FF;
    }
}