.__tour
{
    display: inline-grid;
    width: 170px;
    height: 220px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 8px;
    background: var(--colorBlue200);

    will-change: transform;
    cursor: pointer;
    //border: 0.5px solid var(--colorBlue200);

    .__img_tour
    {
        
        .img_container
        {
            height: 120px;
            .img
            {
                display: flex;
                justify-content: center;
                width: 170px;
                height: 120px;
                border-radius: 8px 8px 0px 0px; 
                filter: brightness(70%);

            }
            h1
            {
                display: flex;
                margin-top: -30px;
                margin-left: 15px;
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                width: 125px;
                color: #ffffff;
                transition: 0s;
                bottom: 15px;
                position: relative;
            }
        }
    }
    .__info_tour
    {
        display: block;
        max-width: unset;
        min-width: unset;
        width: unset;
        height: 100px;
        ul
        {
            display: block;
            margin-top: 5px;
            div 
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-row-gap: 10px;
                justify-content: center;
                li
                {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    text-align: left;
                    width: 80px;
                    height: 22px;
                    color: var(--colWhite_400);
                    font-size: 12px;
                    font-weight: 400;
                    transition: 0s;
                    margin-left: 5px;
                    svg
                    {
                        path 
                        {
                            fill: var(--colWhite_400);
                            transition: 0s;
                        }
                    }
                }
            }
            .info__t_last
            {
                font-size: 12px;
                font-weight: 400;
                height: 22px;
                display: flex;
                align-items: center;
                width: 100px;
                border-radius: 5px;
                color: var(--colorBlue200);
                background: var(--colWhite_400);
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 10px;
            }
        }
    }
    &:hover .__img_tour
    {
        .img_container
        {
            height: 120px;
            .img
            {
                filter: brightness(40%);
                transition: 0.3s;
            }
        }
    }
}
