%rep-cl-sh-t 
{
    display: flex;
    align-items: center;
}  
%rep-cl-sh-t-f
{
    font-size: 16px;
    font-weight: 400;
}

.bgb
{  
    display: block;
    width: 100%;
    max-height: 13500px;
    min-height: 200px;
    height: 100%;
    background: var(--colWhite_400);
}

.info__page_tour
{
    padding-top: 70px;
    max-height: unset;      
    min-height: unset;
    height: unset;
    background: var(--colWhite_400);
    box-shadow: 0px 0px 15px 0px var(--BH);
    border-radius: 0px 0px 8px 8px;
    //content-visibility: auto;
    .back_btn 
    {
        position: absolute;
        left: -15px;
        width: 200px;
        height: 30px;
        border-radius: 40px;
        background: var(--colorBlue200);
        margin-top: 30px;
        z-index: 1;
        border-bottom-left-radius: 0;
        animation: hjgjhg  0.7s linear;
        animation-fill-mode: forwards;
        @keyframes hjgjhg 
        {
            0%
            {
                width: 0px;
                opacity: 0;
            }  
            30%
            {
                width: 0px;
            }           
            100%
            {
                width: 200px;
                opacity: 1;
            }
        }
        a 
        {
            @extend %rep-cl-sh-t;
            width: 100%;
            height: 100%;
            font-size: 14px;
            justify-content: center;
            text-decoration: none;
            color: #F4F4FF;
            animation: vvbvbv  0.7s linear;
            animation-fill-mode: forwards;
            
        }
        @keyframes vvbvbv 
        {
            0%
            {
                font-size: 0px;
                opacity: 0;
            }    
            30%
            {
                opacity: 0;
            }            
            100%
            {
                font-size: 14px;
                opacity: 1;
            }
        }
        &::before
        {
            content: "";
            left: 15px;
            position: absolute;
            top: 30px;
            width: 0px;
            height: 20px;
            background: rgb(34, 121, 202);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            animation: ereter  0.3s linear;
            animation-fill-mode: forwards;
            z-index: 2;
        }
        @keyframes ereter 
        {
            0%
            {
                left: 16px;
                width: 0px;
            }             
            100%
            {
                left: 0px;
                width: 15px;
            }
        }
        &::after
        {
            content: '';
            position: absolute;
            top: 15px;
            width: 15px;
            height: 25px;
            background: var(--colorBlue200);
            animation: rtrt  0.3s linear;
            animation-fill-mode: forwards;
        }
        @keyframes rtrt 
        {
            0%
            {
                left: 16px;
                width: 0px;
            }             
            100%
            {
                left: 0px;
                width: 15px;
            }
        }
    }
}

@media screen and (max-width: 1000px) 
{
    .info__page_tour
    {
        .back_btn 
        {
            animation: hjgjhg  none;
            animation-fill-mode: none;
            a 
            {
                animation: vvbvbv  none;
                animation-fill-mode: none;
                
            }
            &::before
            {
                animation: ereter  none;
                animation-fill-mode: none;
                z-index: 2;
            }
            &::after
            {
                animation: rtrt  none;
                animation-fill-mode: none;
            }
        }
    }
}

.sh_op{

    min-height: unset;
    height: unset;
    max-height: unset;
    padding-bottom: 20px;
    border-radius: 0px 0px 8px 8px;
}

.containet__wrapper_in-tour
{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 80px;
    padding-bottom: 80px;
}

.about__us_tour
{
    margin-left: 20px;
    margin-right: 20px;
    h1 
    {
        @extend %rep-cl-sh-t;
        font-size: 20px;
        font-weight: 600;
        color: var(--colorBlue200);
        height: 80px;
    }
    p 
    {
        @extend %rep-cl-sh-t-f;
        line-height: 24px;
        font-style: normal;
        color: var(--colDarck);
    }
}

.map__info_tour
{
    margin-left: 20px;
    margin-right: 20px;
    h1 
    {
        @extend %rep-cl-sh-t;
        font-size: 20px;
        font-weight: 600;
        color: var(--colorBlue200);
        height: 80px;
    }
    div 
    {
        display: flex;
        iframe 
        {
            border-radius: 8px;
            border: 1px solid #616161;
        }
        p 
        {
            display: flex;
            max-width: 330px;
            width: 100%;
            @extend %rep-cl-sh-t-f;
            line-height: 25px;
            color: var(--colDarck);
            span 
            {
                display: block;
                width: 15px;
                border-radius: 8px;
                height: 80px;
                background: #EE4C46;
                margin-left: 20px;
                margin-right: 10px;
            }
        }
    }
}

.city__info_tour
{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    h1 
    {
        @extend %rep-cl-sh-t;
        font-size: 20px;
        font-weight: 600;
        color: var(--colorBlue200);
        height: 80px;
    }
    p 
    {
        @extend %rep-cl-sh-t-f;
        color: var(--colDarck);
        line-height: 24px; /* 150% */
    }
    div 
    {
        display: flex;
        margin-top: 20px;
        a 
        {
            @extend %rep-cl-sh-t;
            justify-content: center;
            width: 200px;
            height: 35px;
            border-radius: 8px;
            background: #23A6FF;
            color: #F4F4FF;
            text-decoration: none;
            margin-right: 20px;
        }
        p 
        {
            @extend %rep-cl-sh-t;
            @extend %rep-cl-sh-t-f;
            height: 35px;
            color: #23A6FF;
        }
    }
}

.container__comments
{
    display: block;
    .name__comments_container
    {
        font-size: 20px;
        font-weight: 600;
        color: var(--colorBlue200);
        display: flex;
        align-items: center;
        height: 80px;
    }
}

@media screen and (max-width: 768px) 
{
    .map__info_tour > div 
    {
        display: block;
        p > span
        {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) 
{
    .map__info_tour > div 
    {
        iframe
        {
            width: 273px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 570px) 
{
    .city__info_tour > div 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        a 
        {
            width: 130px;
        }
        p 
        {
            margin-top: 40px;
            margin-bottom: 15px;
        }
        svg 
        {
            margin-top: 40px;
            margin-left: 50px;
            margin-bottom: 15px;
        }
    }
}

.sh_t__
{
    margin-left: 10px;
    font-size: 14px;
    color: var(--colDarck);
    transition: 0s;
    h4 
    {
        font-weight: 400;
    }
    h5 
    {
        font-weight: 300;
    }
}

.popopo:hover .sh_t__ 
{
    transition: 0s;
    color: #F4F4FF;
}

.sh_popo__
{
    display: flex;
    margin-left: 27%;
    align-items: center;
}

@media screen and (max-width: 375px) 
{
    .sh_popo__
    {
        margin-left: 9%;
    }
}