
.bgb
{  
    display: block;
    width: 100%;
    max-height: 13500px;
    min-height: 200px;
    height: 100%;
    background: var(--colWhite_400);
}

.info__page_tour
{
    display: block;
    padding-top: 70px;
    width: 100%;
    height: 100vh;
    background: var(--colWhite_400);
    box-shadow: 0px 0px 15px 0px var(--BH);
    .menu_controls
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 20px 20px 10px;
        .btn__menu_controls{
            width: 120px;
            height: 30px;
    
            border-radius: 25px;
            background: none;
            border: 1px solid var(--colBlueBtn);
            color: var(--colDarck);
            font-size: 12px;
            font-weight: 400;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 10px 10px 0px 10px;
            &:hover
            {
                background: var(--colorBlue200);
                color: #F4F4FF;
                cursor: pointer;
            }
        }
        .controls__btn_active
        {
            background: var(--colorBlue200);
            color: #F4F4FF;
        }
    }
}