
.bgb
{  
    display: block;
    width: 100%;
    max-height: 13500px;
    min-height: 200px;
    height: 100%;
    background: var(--colWhite_400);
}

.info__page_tour
{
    padding-top: 70px;
    width: 1000px;
    height: 100vh;
    background: var(--colWhite_400);
    box-shadow: 0px 0px 15px 0px var(--BH);
    .menu_controls
    {
        display: flex;
        max-width: 845px;
        width: 100%;
        margin: 20px;
        margin-top: 30px;
        .btn__menu_controls{
            width: 120px;
            height: 30px;
    
            border-radius: 25px;
            background: none;
            border: 1px solid var(--colBlueBtn);
            color: var(--colDarck);
            font-size: 12px;
            font-weight: 400;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            &:not(:first-child)
            {
                margin-left: 20px;
            }
            &:hover
            {
                background: var(--colorBlue200);
                color: #F4F4FF;
                cursor: pointer;
            }
        }
        .controls__btn_active
        {
            background: var(--colorBlue200);
            color: #F4F4FF;
        }
    }
}


.popopo:hover > div > h4
{
    color: #F4F4FF;
    transition: .3s ;
}

.popopo:hover > div > h5
{
    color: #F4F4FF;
    transition: .3s ;
}

.container__comments
{
    display: block;
    .name__comments_container
    {
        font-size: 20px;
        font-weight: 600;
        color: var(--colorBlue200);
        display: flex;
        align-items: center;
        height: 80px;
    }
}