.cl__container-size
{
    width: 1000px;
}

@media screen and (max-width: 1024px) 
{
    .cl__container-size
    {
        max-width: 1000px;
        min-width: 200px;
        width: 100%;
    }
}

._tr__on_t
{
    transition: 0s;
}

@media screen and (max-width: 600px) 
{
    .opMbox
    {
        display: block;
        justify-content: none;
    }
}